*,*::after,*::before{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.header{
   height: 50px;
   display: flex;
   background-color: rgb(1, 73, 73);
    justify-content: center;
    align-items: center;
    color: "#fff";
    font-weight: bold;
}
.navbar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #686767;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
}
.navbar input{
    border-radius: 15px;
    width: 40%;
    height: 25px;
    padding: 0 5px;
}
.navbar span{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2rem;
}
.wrapper{
    text-align: center;
}
.image-container{
display: flex;
flex-direction: column;
}
.image{
    display: inline;
    padding: 20px;
    background: #252525;
}
img{
    max-width: 95%;
    height: 70vh;
    object-fit: cover;
    border: 10px solid #fff;
}
.mode{
    background: black;
    color: white;
    padding: 10px 0;
    margin: 0 auto;
}